@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a 
{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  color: var(--textColor);
  text-decoration: none;
}

:root {
  --danger: #ff305b;
  --mainColor: #555555;
  --textColor: #333333;
  --bgColor: #f1f1f1;
  --shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

body {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
/*start header*/
header {
  background-color: transparent !important;
  position: relative;
  z-index: 2;

}

.logo {
  font-weight: 700 !important;
  font-size: 24px !important;
}
.navbar-nav a {
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.navbar-nav .active {
  color: var(--danger) !important;
}
.navbar-nav a:hover{
  color: var(--danger) !important;
}

/*end header*/
/*start banner*/
.slidr {
  position: absolute;
}
.slide {
  background-image: url(../imgs/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}
.slide:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.banner p {
  font-size: 24px;
  margin: 0;
  color: #fff;
}
.banner h1 {
  font-size: 70px;
  color: var(--danger);
  text-transform: uppercase;
  font-weight: bold;
}
.banner h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 100;
}
.banner h2:after {
  content: "|";
  animation-name: typing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: #fff;
  transition: all ease;
  margin-left: 5px;
}
@keyframes typing {
  0% {
    content: "D|";
  }
  3% {
    content: "De|";
  }
  6% {
    content: "Des|";
  }
  9% {
    content: "Desi|";
  }
  11% {
    content: "Desig|";
  }
  14% {
    content: "Design|";
  }
  17% {
    content: "Designe|";
  }
  20% {
    content: "Designer|";
  }
  23% {
    content: "Designe|";
  }
  26% {
    content: "Design|";
  }
  29% {
    content: "Desig|";
  }
  32% {
    content: "Desi|";
  }
  35% {
    content: "Des|";
  }
  38% {
    content: "De|";
  }
  41% {
    content: "D|";
  }
  44% {
    content: "|";
  }
  47% {
    content: "D|";
  }
  50% {
    content: "De|";
  }
  53% {
    content: "Dev|";
  }
  56% {
    content: "Deve|";
  }
  59% {
    content: "Devel|";
  }
  61% {
    content: "Develo|";
  }
  64% {
    content: "Develop|";
  }
  67% {
    content: "Develope|";
  }
  70% {
    content: "Developer|";
  }
  73% {
    content: "Develope|";
  }
  76% {
    content: "Develop|";
  }
  79% {
    content: "Develo|";
  }
  80% {
    content: "Devel|";
  }
  82% {
    content: "Deve|";
  }
  85% {
    content: "Dev|";
  }
  88% {
    content: "De|";
  }
  91% {
    content: "D|";
  }
  94% {
    content: "|";
  }
}
/* @keyframes typing{
    0%{content:"Designer|"}
    50%{content:"|"}
    80%{content:"Developer|"}
    100%{content:"|"}

 } */

/*end banner*/
/*start about*/
.aimage {
  width: 70%;
  position: relative;
}
.aimage img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.aimage::before {
content: "";
  position: absolute;
  border: 8px solid var(--mainColor);
  width: 100%;
  left: -22px;
  top: -28px;
  height: 100%;
  z-index: -1;
  border-radius: 6px;
}
.aimage::after{
content: "";
position: absolute;
width: 100%;
left: 0;
top: 381px;
height: 0;
  z-index: 1;
  border-radius: 6px;
  background: rgba(22, 22, 22, 0.616);
transition: all 0.6s ease 0s;
  visibility: hidden;
}
.aimage:hover::after
{
top: 0 ;
visibility: visible;
height: 100%;
}
.aimage .social-icons{
  font-size: 20px;
      left: 30%;
        position: absolute;
      top: 100%;
        z-index: 2;
transition: all 0.6s ease 0s;
        visibility: hidden;
}
.aimage:hover.aimage .social-icons {
visibility: visible;
top: 50%;
}
.aimage .social-icons i{
margin-right: 23px;
}
.aimage .social-icons i:hover{
color: var(--danger) !important;
cursor: pointer;
}
.about-img {
  position: relative;
  left: 9%;
  top: 28px;
}
.atitle h3 {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--textColor);
}
.atitle h3 span {
  font-size: 29px;
  margin-right: 6px;
  color: var(--danger);
}
.atext {
  border-bottom: 1px dashed gray;
}
.atext p {
  font-weight: 400 !important;
  color: var(--textColor);
  font-size: 16px;
}
.info p {
  font-weight: 400;
  font-size: 17px;
}
.info span {
  font-weight: 700;
}
.abutton button {
  color: #fff;
  font-size: 16px;
  background-color: var(--danger) !important;
  border-radius: 5px !important;
  transition: all 0.3s ease-in-out;
}
.abutton button:hover{
  color: #fff;
  background-color: red !important;

}
/*end about*/
/*start services*/
.services{
    background-color: var(--bgColor) !important;
}
.service-box{
padding: 25px 15px;
}
.service-box i{
        font-size: 35px;
            display: inline-block;
            padding: 20px;
            color: var(--danger);
            transition: all 0.3s ease-in-out ;
}
.service-box i:hover{
transform: scale(1);
}
.service-box h3{
font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
}
.service-box h3::after{
content: "";
position: absolute;
}

.service-box p{
    font-size: 17px;
font-weight: 400;
color: var(--mainColor);

}
.serve{
  transition:0.3s;
}
.serve:hover{
  background: #ffffff ;
    box-shadow: var(--shadow);
    border-radius: 3px;
}
.serve:hover .service-box i{
  transform: scale(1.2)
}
/*end services*/
/*start Portfolio*/

.poo{
  position: relative;
}
.pimages{
  position: relative;
  
}
.pimages img{
      width: 100%;
}
.pimages::after{
    content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(22, 22, 22,0);
      z-index: 1;
      left: 0;
      transition: all 0.4s ease 0s;
     visibility: hidden;
     cursor: pointer;
}
.pimages:hover:after
{
visibility: visible;
opacity: 0.5;
background-color: black;
}
.navfilter li {
margin-right: 30px;
}
.navfilter li a{
text-decoration: none;
color: var(--textColor);
font-size: 17px;
text-transform: uppercase;
}
.navfilter li .active{
color: var(--danger);
}
.portfolio-viw{
      padding: 10px;
        width: 50px;
        position: absolute;
        left: 83%;
        top: 82%;
        color: var(--danger);
        visibility: hidden;
        z-index: 2;
}
.pimages:hover .portfolio-viw {
  visibility: visible;
}
/*end portfolio*/
/*start testimonial*/
.testimonial{
  background-color: var(--bgColor);
}
.testimonial .test1 i{
  font-size: 25px;
  padding: 20px;
  color: var(--danger);
}
.testimonial .test1 h4{
    font-weight: 700;
      font-size: 27px;
}
/*end testimonial*/
/*start feedback*/
.cardf{
      width: 795px;
        padding: 45px;
      background: var(--bgColor);
        background: linear-gradient(319deg, #f1f1f1 80%, rgba(255, 48, 91, 1) 80%);
        border-radius: 3px;
          position: relative;
}

.cardf::before{
left: 50%;
  content: "";
  position: absolute;
  width: 30px;
  height: 11px;
  border-radius: 30px;
  background-color: var(--danger);
  top: 105%;
}
.cardf::after{
left: 55%;
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  border: 1px solid var(--danger);
  top: 105%;
}
.imgf img{
      border-radius: 50%;
        width: 120px;
}
.cardf h4{
  font-weight: 600;
  font-size: 25px;
}
.location p{
  color: gray;
  font-size: 16px;
}
.cardf p{
  font-weight: 400;
  font-style: italic;
  font-size: 17px;
}
/*end feedback*/
/*start blog*/
.blog{
  background-color: var(--bgColor);
}
.bimg{
  position: relative;
}
.bimg img{
      width: 100%;
      cursor: pointer;
}
.bimg .fa-youtube{
        position: absolute;
        top: 30%;
        left: 39%;
        font-size: 70px;
}
.bimg .fa-play{
position: absolute;
  top: 40%;
  left: 47%;
  font-size: 29px;
}
.blogcard{
  background-color: #fff;
}
.main-btext .date p{
      font-size: 18px;
        color: var(--textColor);
        font-weight: 400;
}
.main-btext h4 a{
  text-decoration: none;
  color: var(--textColor);
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.main-btext h4 a:hover{
color: var(--danger);
}
.main-btext p{
font-size: 17px;
  color: #555555;
  font-weight: 400;
  margin-top: 15px;
}
.main-btext .readtext a{
    text-decoration: none;
      font-size: 19px;
      text-transform: uppercase;
      color: var(--textColor);
      font-weight: 400;
      transition: all 0.3s ease;
}
.main-btext .readtext i{
    font-size: 15px;
    color: var(--textColor);
}
.main-btext .readtext a:hover{
color: var(--danger);
}
/*end blog*/
/*start contact*/
.form-control{
  box-shadow:  0 -1px 2px rgba(107, 107, 107, 0.1);
}
.form-control:focus{
  border: 1px solid var(--danger) !important;
    box-shadow: none !important;
}
.form-floating label{
  color: gray;
  font-size: 15px;
}
.contactc{
  width: 900px !important;
}
.form-floating>label {
   z-index: 0 !important;
}
/*end contact*/
/*start footer*/
footer{
  text-align: center;
  background-color: var(--textColor);
}
.footer .social-icons i{
  padding: 10px;
  margin-bottom: 5px;
}
.footer .social-icons i:hover{
color: var(--danger) !important;
cursor: pointer;
}
.footer p{
  color: #fff;
  font-weight: 400;
}
.footer p span{
  padding:2px;
color: var(--danger);
}
/*span */
.spans .span{
      margin: 0 auto;
        width: 75px;
        height: 1px;
        background-color: var(--danger);
        margin-bottom: 4px;
}
.spans .active{
    width: 150px;
}
/*media*/
@media (max-width : 554px), (max-width: 992px)
{
  .abutton button{
        font-size: 15px;
  }
  .banner h1 {
      font-size: 45px;
  }
 /* .p-5{
  padding-top: 50px !important;
 } */
    #about {
      padding: 0 !important;
      padding-top: 50px !important;
    }
    #services {
      padding: 0 !important;
      padding-top: 50px !important;
    }
    #portfolio{
      padding: 0 !important;
      padding-top: 50px !important;
    }
    #testimonial {
      padding: 0 !important;
      padding-top: 50px !important;
    }
    #feedback{
      padding: 0 !important;
      padding-bottom: 50px !important;
    }
    #blog {
      padding: 0 !important;
      padding-bottom: 50px !important;
    }
    #contact {
      padding: 0 !important;
     
    }
  #sec-col{
        margin-top: 0 !important;
  }

    /*toggle*/
    .navbar {
      background-color: var(--textColor);
    }
  
    .navbar-toggler {
      border: none !important;
    }
  
    .navbar-toggler-icon {
      background-image: url(../imgs/icons8-menu-30.png) !important;
    }
  
    .navbar-collapse {
      padding: 5px !important;
      background: var(--textColor) !important;
      text-align: center !important;
    }
  
    /*end toggle*/
        header {
          position: fixed;
          width: 100%;
        }

  .aimage {
      width: 100%;
    }

  .about-img {
      position: relative;
      left: 0;
      top: -48px;
    }

  .info{
          flex-direction: column;
    }

  .aimage::before {
 display: none;
  }

  .poo{
    padding-top: 1.5rem;
  }

  .navfilter li {
      margin-right: 15px;
    }

  .bcard{
        padding-top: 30px;
  }

  .cardf{
    flex-direction: column;
    align-items: center;
    padding: 25px;
    }
    #textf{
      padding-left: 0 !important;
    }

    .cardf::before {
      left: 44%;
    }

  .contactc {
      width: 100% !important;
    }

            }

@media (min-width: 768px) and (max-width: 992px){
.poo-active{
  position: absolute;
    bottom: 100%;
    left: 50%;
}
}


